.navBar{
    background-color: #AF7EEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    & h1{
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.1s linear;
    }
    & h1:hover{
        transform: scale(1.2);
    }
}
.navBar .middle{
    display: flex;
    gap: 10vw;
}