@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #e7e6e6;
}

.heading {
    font-family: "Caprasimo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 120px;
}

.roboto {
    font-family: "Roboto";
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}
.wiggle {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.wiggle:hover {
  animation: wiggle 0.4s ease-in-out;
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(-5deg); }
  75%  { transform: rotate(4deg); }
  100% { transform: rotate(0deg); }
}
